.suffix{
    position: absolute;
    width: 3rem;
    font-size: 1rem;
    transition: color .2s;
    top: 0.8rem;
    right: 1rem;
    font-style: normal;
    text-align: left;
}

.jsdev_prefix{
    position: absolute;
    width: 3rem;
    font-size: 1rem;
    transition: color .2s;
    font-style: normal;
    top: 0.8rem;
    text-align: center;
}

input[type='number'].jsdev_input_prefixed.jsdev_input_suffixed{
    width: calc(100% - 6.5rem) !important;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    text-align: right;
}

input[type='number'].jsdev_input_suffixed{
    width: calc(100% - 3.5rem) !important;
    margin-right: 3rem !important;
    text-align: right;
    padding-right: 10px;
    border-right: 20px;
}

input[type='number'].jsdev_input_prefixed{
    width: calc(100% - 3rem) !important;
    margin-left: 3rem !important;
}

input[type=number]::-webkit-inner-spin-button {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}